/* PAGE LAYOUT */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #dbdbdb;
}
input {
  background-color: transparent !important;
}

/* LEFT IMAGE PANEL */
.login-left {
  width: 60%;
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 80px;

  color: black;
}

.login-left h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(226, 226, 226);
}

.login-left p {
  font-size: 22px;
  max-width: 500px;
  line-height: 1.6;
  color: rgb(234, 234, 234);
}

/* RIGHT FORM CARD */
.login-form {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px;

  background: white;

  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.08);
}

/* FORM TITLE */
.login-form h2 {
  font-size: 38px;
  color: black;
  margin-bottom: 35px;
}

/* INPUTS */
.login-form input {
  padding: 16px 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 14px;

  font-size: 16px;
  outline: none;

  transition: 0.3s;
}

.login-form input:focus {
  border-color: black;
  background-color: transparent;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/* LOGIN BUTTON */
.login-form button[type="submit"] {
  padding: 15px;

  border: none;
  border-radius: 14px;

  background: black;
  color: white;

  font-size: 17px;
  cursor: pointer;

  margin-top: 10px;
  transition: 0.3s;
}

.login-form button[type="submit"]:hover {
  transform: translateY(-2px);
}

/* SIGNUP LINK BUTTON */
.login-btn {
  background: none !important;
  color: black !important;
  margin-top: 20px;
  font-weight: 600;
}

/* MOBILE */
@media (max-width: 900px) {
  .login-left {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}
